* { box-sizing: border-box; 
padding: 0px; 
margin: 0px;

}

.cintillo {

	height: 10px;
	width: 100%;
	background-color: #280102;
}




.logo2 {

font-size: 60px;
margin-left: 40px;
margin-bottom: -20px;
margin-top: 15px;


}







 h1 {

	padding-top: 30px;
	font-family: 'Playfair Display', serif;
	color: #8e5a4f;
	font-size: 60px;
	text-align: center;
	animation-duration: 3s;
	

  }






p {
	color: #8e594f;
	font-size: 17px;
	font-family: 'Playfair Display', serif;
	text-align: center;

}

.color_titulos {

	color: #8e594f;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	
	
}

.padding_colortitulos {
padding-top: 28px;




}




.color_titulos2 {

	color: #8e594f;
	font-size: 15px;
	font-family: 'Playfair Display', serif;

	
}

.color_titulos3 {

	color: #8e594f;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	
}


label {
	
    color: ##8e594f;

}

.titulos {

   display: flex;

   flex-flow: row nowrap;

   justify-content: space-around;



}




.contenedor {
	width: 100%;
	border: solid 10px #8e594f;
	font-size: 30px; 
	height: 800px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100px 100px 100px;
grid-template-columns: 1fr 1fr 1fr;

}



.contenedor div {

	color: white;
	background-color: #c1877c;
	box-shadow: 1px 1px 8px #f69ba4;
	text-align: center;
	padding: 10px; 
  }



body {

	background-color: #fceacd;
}





footer {

	
	
	text-align: center;
	margin-left: 40px;
	font-family: 'Playfair Display', serif;
	padding-bottom: 20px;
	padding-top: 20px;
}




  .text_effects1 {


	font-family: 'Playfair Display', serif;
	color: #f9d59b;
	font-size: 50px;
	

  }







 .title-home {

	padding-top: 60px;
	font-family: 'Playfair Display', serif;
	color: #f9d59b;
	font-size: 70px;
	text-align: center;

  }

  .title {
    
    padding-top: 60px;
	font-family: 'Playfair Display', serif;
	color: #f9d59b;
	font-size: 60px;
	text-align: center;

  }


.collagedefinition {
font-family: 'Playfair Display', serif;
text-align: center;
color: #f9d59b;
margin-top: -25px;

}







.section-1 {

height:  100vh;
background-image: url(collage.jpg);
background-attachment: fixed;
background-size: cover;

}

.section-2{

	width: 100%;
	height: 300px;
	background-color: #f69ba4;


}

.section-3 {

height:  100vh;
background-image: url(collage2.jpg);
background-attachment: fixed;
background-size: cover;

}


.section-4 {

	width: 100%;
	height: 300px;
	background-color: #c1877c;


}

.section-5 {

height:  100vh;
background-image: url(collage3.jpg);
background-attachment: fixed;
background-size: cover;

}

.section-6{

	width: 100%;
	height: 300px;
	background-color: #7c0a40;


}

.section-7 {

height:  100vh;
background-image: url(collage4.jpg);
background-attachment: fixed;
background-size: cover;

}

.section-8 {

	width: 100%;
	height: 300px;
	background-color: #280102;


}

.section-9 {

height:  100vh;
background-image: url(collage5.jpg);
background-attachment: fixed;
background-size: cover;

}

.section-10 {

	width: 100%;
	height: 300px;
	background-color: #000000;

}

.section-11 {

height:  100vh;
background-image: url(collage6.jpg);
background-attachment: fixed;
background-size: cover;

}







// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
	








